:markdown
  The Stat Ngin API is provided to manage your tournaments, leagues, and teams.

  Current environment is **staging**.

  Getting Started
  ====
  Some tips on getting started.

  Authentication
  ====
  Documentation about how to authenticate with the API.

  Required Headers
  ====
      Accept: application/vnd.stat-ngin.v2
      STAT-NGIN-API-TOKEN: secret

